button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid var(--primary);
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    /* box-shadow: 0 0 5px var(--primary), 0 0 20px var(--primary), 0 0 40px var(--primary); */
}
  
button:hover {
    color: black;
    background: var(--primary);
    box-shadow: 0 0 10px var(--primary), 0 0 30px var(--primary), 0 0 60px var(--primary), 0 0 100px var(--primary);
    transform: scale(1.05);
}